<div class="row">
    <div class="col-md-6">
        <div class="mb-3">
            <label for="" class="form-label">Numero 1</label>
            <input type="text" [(ngModel)]="num1" name="num1" placeholder="Numero1" class="from-control">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Numero 2</label>
            <input type="text" [(ngModel)]="num2" name="num2" placeholder="Numero2" class="from-control">
        </div>
        
        <div class="mb-3">
            <button (click)="sumar()" class="btn btn-primary">calcular</button>
        </div>

        
    </div>
    <div class="col-md-6">
        <h2>Resultado: {{resultado}}</h2>
    </div>
</div>