<div class="container">
  <div class="row">
    <!-- 
  
<h1>Hola</h1>
<p>{{grupo}}</p>


<div>el doble de 3 es {{duplicarN(3)}}</div>

<div> <h1>Matricula: </h1>
  {{alumnos.matricula}}
</div>

<div><h1>Nombre: </h1>
  {{alumnos.nombre|uppercase}}
</div>
<div><h1>Fecha Nacimiento: </h1>
    {{alumnos.fechaNacimiento|date:'dd-MM-yyyy'}}
</div>
<div><h1>Pago: </h1>
    {{alumnos.pago|currency}}
</div>

<hr>
<idgs-grupo></idgs-grupo>
<hr>
<ievn-grupo></ievn-grupo>
<hr>
<app-ievn></app-ievn>

 <app-suma></app-suma>
 <hr>
 <app-operas-bas></app-operas-bas>

 <hr>
 <app-ievn></app-ievn>
 <app-alumno-reactive></app-alumno-reactive>
 -->
 
<app-menu></app-menu>
<router-outlet></router-outlet>
</div>
</div>